.checkbox {
    background-color: $color-tertiary;
    width: 75px;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;

    &__circle {
        background-color: #fff;
        width: 20px;
        height: 20px;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    &__icon {
        color: $color-tertiary;
        font-size: 14px;
    }
}