.cards__icon {
    font-size: 24px;
    color: #000;
    transition: all 0.2s ease-out;
    cursor: pointer;

    &:hover {
        font-weight: bold;
        background: linear-gradient(0deg, $color-secondary, $color-primary);
        color: #fff;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent; 
        -moz-background-clip: text;
        -moz-text-fill-color: transparent;
        background-clip: text;
    }
}

.menu .cards__icon {
    background-color: $background-light;
}