.menu {
    background-color: $background-light;
    padding: 25px 15px 0px 15px;
    border-top-left-radius: 35px;
    border-top-right-radius: 35px;
    margin-top: -40px;
    position: relative;
        
    &__title {
        font-size: 14px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 25px;
    }

    &__btn {
        display: flex;
        justify-content: center;
    }

    & .gradiant-btn {
        padding: 15px 45px;
        margin-top: 25px;
    }
}

.submenus {
    margin-bottom: 30px;

    &__title {
        position: relative;
        padding-bottom: 8px;
    }

    &__title::after {
        content: "";
        background-color: $color-tertiary;
        width: 40px;
        height: 3px;
        position: absolute;
        left: 0px;
        bottom: 0px;
    }
    
    &__list {
        line-height: 18px;
    }

    &__items {
        padding: 12px 10px 12px 10px ;
        background-color: #fff;
        display: flex;
        justify-content: space-between;
        margin-bottom: 15px;
        animation: showitems 1s forwards;
        opacity: 0;
        cursor: pointer;

        &:nth-of-type(1){
            animation-delay: 0.1s;
        }

        &:nth-of-type(2){
            animation-delay: 0.2s;
        }

        &:nth-of-type(3){
            animation-delay: 0.3s;
        }

        &:nth-of-type(4){
            animation-delay: 0.3s;
        }
    }
}

@keyframes showitems {
    0% {
        transform: translateY(20px);
        opacity: 0%;
    }

    100% {
        transform: translateY(0px);
        opacity: 100%;
    }
}

.cards__txt {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;

    & h3, p {
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
    }
}

.dish__price {
    font-size: 14px;
    font-weight: 700;
    color: $background-dark;
    display: flex;
    align-items: flex-end;
    margin-left: 15px;
}

@media screen and (min-width: 1080px) {
    .submenus-wrap {
        display: flex;
        justify-content: space-between;
    }
    
    .submenus {
        width: 35%;
        padding: 0px 10px 0px 10px;

        &__list {
            justify-content: center;
        }
        
        &__items {
            &:nth-child(2){
                animation-delay: 0.2s;
            }
    
            &:nth-child(3){
                animation-delay: 0.3s;
            }
    
            &:nth-child(4){
                animation-delay: 0.4s;
            }

            &:nth-child(5){
                animation-delay: 0.5s;
            }
        }
    }
}